[submodule "flex-contracts/lib/forge-std"]
	path = flex-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "flex-contracts/lib/chainlink-brownie-contracts"]
	path = flex-contracts/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "flex-contracts/lib/solmate"]
	path = flex-contracts/lib/solmate
	url = https://github.com/rari-capital/solmate
[submodule "flex-node-chainlink-adapter"]
	path = flex-node-chainlink-adapter
	url = git@github.com:tesol2y090/flex-node-chainlink-adapter.git
